<!DOCTYPE html>
<html lang="es">
<head>
  <title>Home | Argony News --Inicio--</title>
  <meta charset="UTF-8">
</head>
<body>
<div id="header"></div>

<main class="main-container">
  <a href="/templates/live_news/index.html" class="live-headline"></a>

  <div class="featured-news-wrapper">
    <section class="top-stories">
      <div class="article"></div>
      <div class="article"></div>
      <div class="article"></div>
      <div class="article"></div>
      <div class="article"></div>
    </section>

    <aside id="suggested-content">
      <div class="side_article"></div>
      <div class="side_article"></div>
      <div class="side_article"></div>
      <div class="side_article"></div>
      <div class="side_article"></div>
    </aside>
  </div>

  <button id="show-more">Mostrar más</button>

</main>

<div id="footer"></div>
</body>
</html>
