    <main>
  <h1>{{ 'LOGIN.TITLE' | translate }}</h1>
  <div class="main-container">
    <form (ngSubmit)="login()" class="page-form">
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      
      <div class="form-item">
        <p>{{ 'LOGIN.EMAIL' | translate }}</p>
        <input type="email" name="email" [(ngModel)]="email" required>
      </div>

      <div class="form-item">
        <p>{{ 'LOGIN.PASSWORD' | translate }}</p>
        <input type="password" name="password" [(ngModel)]="password" required>
      </div>

      <div class="form-stay-loged">
        <input type="checkbox" name="keep-logged" id="keep-logged" [(ngModel)]="rememberMe">
        <label for="keep-logged">{{ 'LOGIN.KEEP_LOGGED_IN' | translate }}</label>
      </div>
      <button type="submit" [disabled]="isLoading">
        <span *ngIf="!isLoading">{{ 'LOGIN.SUBMIT' | translate }}</span>
        <span *ngIf="isLoading">{{ 'LOGIN.LOADING' | translate }}</span>
      </button>
    </form>
    <p>
      {{ 'LOGIN.NO_ACCOUNT' | translate }} <a routerLink="/register">{{ 'LOGIN.REGISTER' | translate }}</a>
    </p>
  </div>
</main>