<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Iniciar sesion - Argony News</title>
        <meta charset="UTF-8">
    </head>
    <body>
    <main>
        <h1>Inicio de sesión</h1>
        <div class="main-container">
            <form action="#" method="post" class="page-form">
                <div class="form-item">
                    <p>Email</p>
                    <input type="email" required>
                </div>
    
                <div class="form-item">
                    <p>Contraseña</p>
                    <input type="password" required>
                </div>
    
                <div class="form-stay-loged">
                    <input type="checkbox" name="keep-logged" id="keep-logged">
                    <label for="keep-logged">Mantener la sesión iniciada.</label>
                </div>
                <button>Iniciar sesion</button>
            </form>
            <p>
                ¿No tienes cuenta? <a routerLink="/register">Registrarse</a>
            </p>
        </div>
    </main>
    </body>
</html>
