<!DOCTYPE html>
<html lang="es">

<head>
    <title>Argony News --Videos--</title>
    <script src="../../scripts/header-footer.js"></script>
    <script src="../../scripts/videos.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/templates/videos/index.css">
</head>

<body>
    <div id="header"></div>

    <main>
        <h1>VIDEOS</h1>
        <div class="main-container">
            <article class="main-news">
                <input class="row-button" id="main-news-left-button" type="button" value="←">
                <div class="left-main-news">
                    <h2>
                        NOTICIAS ÚLTIMA HORA
                    </h2>
                    <p>Nombre periodista / Lugar</p>
                    <p class="description">
                        Descripción <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid atque similique iusto amet sunt.
                    </p>
                </div>
                <div class="right-main-news">
                    <video controls width="240" height="140">
                        <source src="../../resources/videos/video-example.mp4" type="video/mp4">
                        news video
                    </video>
                </div>
                <input class="row-button" id="main-news-right-button" type="button" value="→">
            </article>

            <span class="separator"><span></span></span>

            <div class="sub-category">
                <input class="row-button" id="sub-category1-left-button" type="button" value="←">
                <article>
                    <h2>
                        CATEGORIA 1
                    </h2>
                    <section class="basic-video"></section>
                    <section class="basic-video"></section>
                </article>
                <input class="row-button" id="sub-category1-right-button" type="button" value="→">
            </div>

            <span class="separator"><span></span></span>

            <div class="sub-category">
                <input class="row-button" id="sub-category2-left-button" type="button" value="←">
                <article>
                    <h2>
                        CATEGORIA 2
                    </h2>
                    <section class="basic-video"></section>
                    <section class="basic-video"></section>
                </article>
                <input class="row-button" id="sub-category2-right-button" type="button" value="→">
            </div>

            <span class="separator"><span></span></span>

            <div class="sub-category">
                <input class="row-button" id="sub-category3-left-button" type="button" value="←">
                <article>
                    <h2>
                        CATEGORIA 3
                    </h2>
                    <section class="basic-video"></section>
                    <section class="basic-video"></section>
                </article>
                <input class="row-button" id="sub-category3-right-button" type="button" value="→">
            </div>
        </div>
    </main>
    <div id="footer"></div>
</body>

</html>