<article class="news-article">
    <div class="article-text-content">
        <h1 class="title">Título de la Noticia</h1>
        <p class="extract">Breve descripción de la noticia para captar la atención del lector.</p>
        <a href="/templates/news/index.html" class="read-more">Leer más</a>
    </div>
    <figure class="image-container">
        <img src="/resources/images/formato_imagen.png" alt="Imagen de la noticia">
        <figcaption class="caption">Redactor | Lugar | Día | Hora</figcaption>
    </figure>
</article>