<div class="video">
    <h3 class="video-title">
        Nombre titular
    </h3>
    <iframe class="video-content" width="240" height="140" hspace="0" vspace="0"
        src="https://www.youtube.com/embed/MsfCAwrFARg"
        sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-presentation"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <p class="video-author">
        Nombre periodista / Lugar
    </p>
    <p class="video-description">
        Descripción <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid atque similique iusto amet
        sunt.
    </p>
</div>