<footer>
    <div class="footer-subscription">
        <img src="/images/logo.png" alt="Logo" class="footer-logo">
        <p>Suscríbete a nuestro diario para recibir las últimas actualizaciones.</p>
        <form action="#" method="post" class="footer-form">
            <input type="email" name="email" placeholder="you@example.com" required>
            <button type="submit">Suscribirse</button>
        </form>
        <p>Mantente actualizado al suscribirte.</p>
    </div>

    <div class="footer-links">
        <ul>
            <li><strong>Explorar</strong></li>
            <li><a href="categories.html">Política</a></li>
            <li><a href="categories.html">Deportes</a></li>
            <li><a href="categories.html">Ciencia</a></li>
            <li><a href="categories.html">Entretenimiento</a></li>
            <li><a href="categories.html">Mundo</a></li>
        </ul>
        
        <ul>
            <li><strong>Sobre Nosotros</strong></li>
            <li><a href="#">Términos de uso</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Términos y Condiciones</a></li>
            <li><a href="/profile.html">Tus preferencias de privacidad</a></li>
        </ul>
    
        <ul>
            <li><strong>Contáctanos</strong></li>
            <li><a href="https://www.facebook.com/ArgonyNews">Facebook</a></li>
            <li><a href="https://www.X.com/ArgonyNews">X (Twitter)</a></li>
            <li><a href="https://www.Instagram.com/ArgonyNews">Instagram</a></li>
            <li><a href="https://www.youtube.com/@ArgonyNews">YouTube</a></li>
        </ul>
    </div>
</footer>