<header>
    <a href="/templates/home/index.html">
        <img src="/resources/images/logo.png" alt="logo" height="65" width="100">
    </a>
    <div class="language-menu">
        <input type="checkbox" id = "language-toggle">
        <label for="language-toggle" class="language-button">IDIOMA</label>
        <div class="language-options">
            <ul>
                <li><a href="#">Español</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
    </div>

    <nav class="categories">
        <ul>
            <li><a href="/templates/videos/index.html">Videos</a></li>
            <li><a href="/templates/categories/index.html">Deportes</a></li>
            <li><a href="/templates/categories/index.html">Ciencia</a></li>
            <li><a href="/templates/categories/index.html">Política</a></li>
            <li><a href="/templates/categories/index.html">Entretenimiento</a></li>
            <li><a href="/templates/categories/index.html">Mundo</a></li>
        </ul>
    </nav>
    <div class="login-register">
        <a href="/templates/login/index.html">Iniciar Sesión</a>
        <a href="/templates/register/index.html">Registrarse</a>
    </div>
    <div class="burger-menu">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="burger-icon">&#9776;</label>
        <nav>
            <ul class="normal-size">
                <li><a href="/templates/home/index.html">Inicio</a></li>
                <li><a href="/templates/videos/index.html">Videos</a></li>
                <li><a href="/templates/profile/index.html">Mi Cuenta</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
            </ul>
            
            <ul class="short-size">
                <li><a href="/templates/home/index.html">Inicio</a></li>
                <li><a href="/templates/videos/index.html">Videos</a></li>
                <li><a href="/templates/categories/index.html">Deportes</a></li>
                <li><a href="/templates/categories/index.html">Ciencia</a></li>
                <li><a href="/templates/categories/index.html">Política</a></li>
                <li><a href="/templates/categories/index.html">Entretenimiento</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
            </ul>
        </nav>
    </div>
</header>
