<head>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/header.css">
</head>

<header>
    <div class="logo-container">
        <img src="/images/logo.png" alt="logo" height="65" width="100">
        <div class="language-menu">
            <input type="checkbox" id = "language-toggle">
            <label for="language-toggle" class="language-button">IDIOMA</label>
            <div class="language-options">
                <select id="language">
                    <option value="spanish">Español</option>
                    <option value="english">English</option>
                </select>
            </div>
        </div>
    </div>
    <nav class="categories">
        <ul>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Deportes</a></li>
            <li><a href="#">Ciencia</a></li>
            <li><a href="#">Política</a></li>
            <li><a href="#">Entretenimiento</a></li>
            <li><a href="#">Mundo</a></li>
        </ul>
    </nav>
    <div class="login-register">
        <a href="#">Iniciar Sesión</a>
        <a href="#">Registrarse</a>
    </div>
    <div class="burger-menu">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="burger-icon">&#9776;</label>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Iniciar Sesión</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
            </ul>
        </nav>
    </div>
</header>
