<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{{ 'REGISTER.PAGE_TITLE' | translate }} - Argony News</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <main>
            <h1>{{ 'REGISTER.TITLE' | translate }}</h1>
            <div class="main-container">
                <form (ngSubmit)="register()" class="page-form">
                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </div>

                    <div class="form-item">
                        <label for="email">{{ 'REGISTER.EMAIL' | translate }}</label>
                        <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="{{ 'REGISTER.EMAIL_PLACEHOLDER' | translate }}" required>
                    </div>

                    <div class="form-item">
                        <label for="password">{{ 'REGISTER.PASSWORD' | translate }}</label>
                        <input type="password" id="password" name="password" [(ngModel)]="password" required>
                    </div>

                    <div class="form-item">
                        <label for="re-password">{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}</label>
                        <input type="password" id="re-password" name="confirmPassword" [(ngModel)]="confirmPassword" required>
                    </div>

                    <div class="form-item">
                        <label for="username">{{ 'REGISTER.USERNAME' | translate }}</label>
                        <input type="text" id="username" name="username" [(ngModel)]="username" required>
                    </div>

                    <div class="form-item">
                        <label for="name">{{ 'REGISTER.NAME' | translate }}</label>
                        <input type="text" id="name" name="name" [(ngModel)]="name">
                    </div>

                    <button type="submit" [disabled]="isLoading">
                        <span *ngIf="!isLoading">{{ 'REGISTER.SUBMIT' | translate }}</span>
                        <span *ngIf="isLoading">{{ 'REGISTER.LOADING' | translate }}</span>
                    </button>
                </form>
                <p>
                    {{ 'REGISTER.ALREADY_HAVE_ACCOUNT' | translate }} <a routerLink="/login">{{ 'REGISTER.LOGIN' | translate }}</a>
                </p>
            </div>
        </main>
    </body>
</html>
