<!DOCTYPE html>
<html lang="es">
<head>
    <title>News</title>
    <script src="../../scripts/header-footer.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/templates/news/index.css">
</head>
<body>
    <div id="header"></div>

    <div class="main-container">
        <article>
            <section class="related">
                <div class="principal_news">
                    <h1>Noticia principal</h1>
                    <img src="/resources/images/formato_imagen.png" height="300" width="450" alt="">
                    <div class="author">
                        <img src="/resources/images/user.png" height="40" alt="">
                        <div class="author-info">
                            <h4>Tomás Herrera / Miami (EE.UU.)</h4>
                            <p>Actualizado - 22/02/25</p>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Quisquam asperiores, nulla ab perferendis dignissimos 
                        debitis quas cumque illo maiores quidem eveniet ut 
                        dolorum, sunt, natus exercitationem.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Magnam maiores architecto eaque autem eos sit error commodi 
                        exercitationem, similique itaque!
                    </p>
                </div>
                <h2>Puede interesarte:</h2>
                <div class="related-1">
                    <h4>Astrónomos descubren un nuevo planeta habitable.</h4>
                    <img src="/resources/images/formato_imagen.png" height="150" width="250" alt="">
                    <p>Laura Méndez / Observatorio ALMA (Chile)</p>
                </div>
                <div class="related-2">
                    <h4>Civilización perdida en la selva amazónica.</h4>
                    <img src="/resources/images/formato_imagen.png" height="150" width="250" alt="">
                    <p>Sofía Ramírez / Manaos (Brasil)</p>
                </div>
                <div class="related-3">
                    <h4>Crean una batería que se recarga en instantes</h4>
                    <img src="/resources/images/formato_imagen.png" height="150" width="250" alt="">
                    <p>Andréz Velazco / Cambridge (Reino Unido)</p>
                </div>
            </section>
        </article>
        <aside>
            <h2>Contenido relacionado</h2>
            <div class="content-wrapper">
                <section class="related">
                    <h2>Puede interesarte:</h2>
                    <div class="related-1">
                        <h3>Crean inteligencia artificial capaz de escribir libros completos</h3>
                        <img src="/resources/images/formato_imagen.png" height="175" width="300" alt="">
                        <p>Javier Montes / San Francisco (EE.UU.)</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Consectetur placeat nisi nobis cumque harum necessitatibus. 
                            Quasi ipsum molestiae architecto possimus dolorum enim facere 
                            eveniet iusto culpa. Tempore recusandae reiciendis animi.
                        </p>
                    </div>
                    <div class="related-2">
                        <h3>Descubren una tumba intacta con tesoros de más de 4,000 años</h3>
                        <img src="/resources/images/formato_imagen.png" height="175" width="300" alt="">
                        <p>Ahmed Hassan / El Cairo (Egipto)</p>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Earum officiis quod, nihil aliquam, suscipit ducimus reiciendis 
                            veniam iusto est autem, molestias facere harum ab dolores 
                            minima incidunt non voluptatum repellat commodi eius!
                        </p>
                    </div>
                    <div class="related-3">
                        <h3>Misteriosa señal de radio proveniente del espacio intriga a los astrónomos</h3>
                        <img src="/resources/images/formato_imagen.png" height="175" width="300" alt="">
                        <p>Daniela Cruz / Observatorio de Arecibo (Puerto Rico)</p>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                            Voluptatibus, placeat deleniti repellat ducimus officiis 
                            fugiat. Adipisci quo nulla quis porro assumenda, excepturi 
                            voluptas sunt cumque cupiditate quasi officia!
                        </p>
                    </div>
                    <div class="related-4">
                        <h3>Un anciano de 98 años termina la universidad y se gradúa con honores</h3>
                        <img src="/resources/images/formato_imagen.png" height="175" width="300" alt="">
                        <p>Valentina Ríos / Buenos Aires (Argentina)</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Modi animi minima, nisi amet nobis doloribus in laborum 
                            debitis maiores provident error corrupti earum eligendi 
                            recusandae similique quo beatae ad nesciunt repellat 
                            aspernatur, incidunt possimus! Id perferendis natus voluptatum.
                        </p>
                    </div>
                </section>
            </div>
        </aside>
    </div>
    <div class="comments">
        <a href="../forum/index.html">Comentarios</a>
        <div class="comment">
            <img src="/resources/images/user.png" height="40" alt="">
            <h4>Anthony Avila Arias / 23-02-25</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Aliquid eligendi harum optio amet consequatur ab alias 
                pariatur impedit, animi enim beatae accusamus?
            </p>
        </div>
        <div class="comment">
            <img src="/resources/images/user.png" height="40" alt="">
            <h4>Giancarlos Prado Abreu / 22-02-25</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing 
                elit. Delectus blanditiis quaerat iure eos. 
                Ad distinctio illum a mollitia quisquam rerum 
                perspiciatis ex quo. Error ea possimus minima, 
                enim dolorum tempore.
            </p>
        </div>
        <div class="comment">
            <img src="/resources/images/user.png" height="40" alt="">
            <h4>Ruben Grizon Gonzalez / 21-02-25</h4>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing 
                elit. Quia enim voluptate provident fugit vel 
                et rerum placeat ipsam.
            </p>
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>