<div class="footer">
    <div class="footer-subscription">
        <img src="/assets/logo.png" alt="Logo" class="footer-logo">
        <p>Suscríbete a nuestro diario para recibir las últimas actualizaciones.</p>
        <form (ngSubmit)="onSubscribe()" class="footer-form" *ngIf="!subscribed">
            <input type="email" name="email" placeholder="you@example.com" required [(ngModel)]="email">
            <button type="submit">Suscribirse</button>
        </form>
        <div class="subscription-success" *ngIf="subscribed">
            <p>¡Gracias por suscribirte! Recibirás nuestras actualizaciones en tu correo.</p>
            <button (click)="resetForm()">Suscribir otro email</button>
        </div>
        <p *ngIf="!subscribed">Mantente actualizado al suscribirte.</p>
    </div>

    <div class="footer-links">
        <ul>
            <li><strong>Explorar</strong></li>
            <li><a [routerLink]="['/category', 'politica']">Política</a></li>
            <li><a [routerLink]="['/category', 'deportes']">Deportes</a></li>
            <li><a [routerLink]="['/category', 'ciencia']">Ciencia</a></li>
            <li><a [routerLink]="['/category', 'entretenimiento']">Entretenimiento</a></li>
            <li><a [routerLink]="['/category', 'mundo']">Mundo</a></li>
        </ul>

        <ul>
            <li><strong>Sobre Nosotros</strong></li>
            <li><a routerLink="privacy">Política de privacidad</a></li>
            <li><a routerLink="terms">Términos y Condiciones</a></li>
            <li><a routerLink="profile">Tus preferencias de privacidad</a></li>
        </ul>

        <ul>
            <li><strong>Contáctanos</strong></li>
            <li><a href="https://www.facebook.com/ArgonyNews">Facebook</a></li>
            <li><a href="https://www.X.com/ArgonyNews">X (Twitter)</a></li>
            <li><a href="https://www.Instagram.com/ArgonyNews">Instagram</a></li>
            <li><a href="https://www.youtube.com/@ArgonyNews">YouTube</a></li>
        </ul>
    </div>
</div>
