<!DOCTYPE html>
<html lang="es">

<head>
    <title>Argony News --Videos--</title>
    <script src="../../scripts/header-footer.js"></script>
    <script src="../../scripts/videos.js"></script>
    <script src="./index.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/templates/videos/index.css">
</head>

<body>
    <div id="header"></div>

    <main>
        <h1>VIDEOS</h1>
        <div class="main-container">
            <article class="main-video">
                <div class="main-video-info">
                    <h2 class="video-title">
                        Nombre titular
                    </h2>
                    <p class="video-author">
                        Nombre periodista / Lugar
                    </p>
                    <p class="video-description">
                        Descripción <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid atque
                        similique
                        iusto amet sunt.
                    </p>
                </div>
                <iframe class="video-content" width="240" height="140" hspace="0" vspace="0"
                    src="/resources/videos/video-example.mp4" sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-presentation" frameborder="0"
                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </article>

            <span class="separator"><span></span></span>

            <div class="sub-category tecnología">
                <input class="row-button" id="tecnología-left-button" type="button" value="←">
                <article>
                    <h2>tecnología</h2>
                    <section class="basic-video"></section>
                    <section class="basic-video"></section>
                </article>
                <input class="row-button" id="tecnología-right-button" type="button" value="→">
            </div>
            
            <span class="separator"><span></span></span>
            
            <div class="sub-category política">
                <input class="row-button" id="política-left-button" type="button" value="←">
                <article>
                    <h2>política</h2>
                    <section class="basic-video"></section>
                    <section class="basic-video"></section>
                </article>
                <input class="row-button" id="política-right-button" type="button" value="→">
            </div>
            
            <span class="separator"><span></span></span>
            
            <div class="sub-category otros">
                <input class="row-button" id="otros-left-button" type="button" value="←">
                <article>
                    <h2>otros</h2>
                    <section class="basic-video"></section>
                    <section class="basic-video"></section>
                </article>
                <input class="row-button" id="otros-right-button" type="button" value="→">
            </div>
    </main>
    <div id="footer"></div>
</body>

</html>