<div class="header">
    <a routerLink="home">
        <img src="/assets/logo.png" alt="logo" height="65" width="100">
    </a>
    <div class="language-menu">
        <input type="checkbox" id="language-toggle">
        <label for="language-toggle" class="language-button">IDIOMA</label>
        <div class="language-options">
            <ul>
                <li><a href="#">Español</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
    </div>

    <nav class="categories">
        <ul>
            <li><a routerLink="videos">Videos</a></li>
            <li><a routerLink="category">Deportes</a></li>
            <li><a routerLink="category">Ciencia</a></li>
            <li><a routerLink="category">Política</a></li>
            <li><a routerLink="category">Entretenimiento</a></li>
            <li><a routerLink="category">Mundo</a></li>
        </ul>
    </nav>

    <div class="login-register">
        <a routerLink="login">Iniciar Sesión</a>
        <a routerLink="register">Registrarse</a>
    </div>
    <div class="burger-menu">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="burger-icon">&#9776;</label>
        <nav>
            <ul class="nav-links">
                <li id="burger-home"><a routerLink="home">Inicio</a></li>
                <li id="burger-profile"><a routerLink="profile" class="account-link">Mi Cuenta</a></li>
                <li id="burger-login"><a routerLink="login">Iniciar Sesion</a></li>
                <li id="burger-register"><a routerLink="register">Registrarse</a></li>
                <li class="burger-logout"><a>Cerrar Sesión</a></li>
                <li class="burger-videos"><a routerLink="videos">Videos</a></li>
                <li class="burger-category"><a routerLink="category">Deportes</a></li>
                <li class="burger-category"><a routerLink="category">Ciencia</a></li>
                <li class="burger-category"><a routerLink="category">Política</a></li>
                <li class="burger-category"><a routerLink="category">Entretenimiento</a></li>
            </ul>
        </nav>
    </div>
</div>
