.news-article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    background: #fafafa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-article .text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.news-article .text-content .title {
    margin: 0;
    font-size: 2vw;
}
.news-article .text-content .extract {
    font-size: 1.2vw;
    color: #555;
}
.news-article .text-content .read-more {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.news-article .text-content .read-more:hover {
    color: #0056b3;
    text-decoration: underline;
}

.news-article .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-article .image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.news-article .image-container .caption {
    font-size: 1.2vw;
    color: #777;
    margin-top: 5px;
}