footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #c0504d;
    margin: 0;
    padding: 2% 2%;
}

.footer-subscription {
    width: 60%;
    display: block;
    margin: 10px;    
}

.footer-form {
    display: flex;
    gap: 1%;
    margin: 1% 0;
}

.footer-form * {
    margin: 3% 0;
}

.footer-form input {
    flex: 1;
    padding: 4%;
    border: none;
    border-radius: 5px;
    width: 50%;
}

.footer-form button {
    padding: 8px 15px;
    background: white;
    color: #c0504d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-links {
    display: flex;
    width: 100%;
    padding: 0 5%;
    justify-content: space-between;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links ul li strong {
    color: white;
    font-size: 16px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}
